[submodule "themes/hero"]
	path = themes/hero
	url = https://github.com/zerostaticthemes/hugo-hero-theme.git
[submodule "themes/hugo-universal-theme"]
	path = themes/hugo-universal-theme
	url = https://github.com/devcows/hugo-universal-theme.git
