/* your styles go here */
/* Example site test */

.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}

.jumbotron {
  background: url('/img/new-background.jpg') center center repeat !important;
  background-size: cover;
}